<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fav Restaurants</title>
  <link rel="shortcut icon" href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/lightbox.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
</head>

 <body class="u-body" cz-shortcut-listen="true">
    <header class="u-clearfix u-header u-header" id="sec-2b6b"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <a href="https://nicepage.com" class="u-image u-logo u-image-1">
              <img src="/asset/logo.svg">
            </a>
            <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
              <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                  <svg><use xlink:href="#menu-hamburger"></use></svg>
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect></symbol></defs></svg>
                </a>
              </div>
              <div class="u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Page-2.html" data-page-id="88846" style="padding: 10px 20px;">Page 2</a>
                    <div class="u-nav-popup fake u-hidden">               
                        <ul class="u-nav u-unstyled">
                          <li class="u-nav-item"><a class="u-nav-link">Menu Item 1</a></li>
                          <li class="u-nav-item"><a class="u-nav-link">Menu Item 2</a></li>
                          <li class="u-nav-item"><a class="u-nav-link">Menu Item 3</a></li>
                        </ul>
                    </div>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Page-1.html" data-page-id="88852" style="padding: 10px 20px;">Page 1</a></li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base active" href="/Page-4.html" data-page-id="88863" style="padding: 10px 20px;">Page 4</a></li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Page-5.html" data-page-id="88867" style="padding: 10px 20px;">Page 5</a></li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Page-6.html" data-page-id="88868" style="padding: 10px 20px;">Page 6</a></li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Page-3.html" data-page-id="89209" style="padding: 10px 20px;">Page 3</a></li>
                </ul>
              </div>
              <div class="u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                  <div class="u-menu-close"></div>
                  <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Page-2.html" data-page-id="88846">Page 2</a></li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Page-1.html" data-page-id="88852">Page 1</a></li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link active" href="/Page-4.html" data-page-id="88863">Page 4</a></li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Page-5.html" data-page-id="88867">Page 5</a></li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Page-6.html" data-page-id="88868">Page 6</a></li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Page-3.html" data-page-id="89209">Page 3</a></li>
                  </ul>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
              </div>
            <style class="offcanvas-style">            
              .u-offcanvas .u-sidenav { flex-basis: 250px !important; }            
              .u-offcanvas:not(.u-menu-open-right) .u-sidenav { margin-left: -250px; }            
              .u-offcanvas.u-menu-open-right .u-sidenav { margin-right: -250px; }            
               @keyframes menu-shift-left    { from { left: 0;        } to { left: 250px;  } }           
               @keyframes menu-unshift-left  { from { left: 250px;  } to { left: 0;        } }            
               @keyframes menu-shift-right   { from { right: 0;       } to { right: 250px; } }            
               @keyframes menu-unshift-right { from { right: 250px; } to { right: 0;       } }            
            </style></nav>
          </div></header>
        
        {{{body}}}
        
        
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a2a9"><div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div></footer>
        <section class="u-backlink u-clearfix u-grey-80">
          <a class="u-link" href="https://nicepage.com/website-builder" target="_blank">
            <span>Template</span>
          </a>
          <p class="u-text">
            <span>created with</span>
          </p>
          <a class="u-link" href="https://nicepage.com/website-builder" target="_blank">
            <span>Nicepage</span>
          </a>. 
        </section>
</body>
</html>