<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fav Restaurants</title>
  
  <link rel="shortcut icon" href="/asset/favicon.svg" type="image/x-icon">
  
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=News+Cycle&display=swap" rel="stylesheet">
  {{!-- font awesome - old ver --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  {{!-- bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {{!-- customize --}}
  <link rel="stylesheet" href="/stylesheets/preset.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/lightbox.css">

</head>

 <body class="u-body" cz-shortcut-listen="true">
  <header class="u-clearfix u-header" id="sec-2b6b">
    <nav class="navbar navbar-expand-md">
      <a href="https://github.com/CHIA-AN-YANG" class="navbar-brand mb-2" title="visit my Github!">
        <img src="/asset/logo.svg">
      </a>
      <div class="nav-item row">
        {{#if isAuthenticated}}
          <a class="nav-link" href="/users/logout">log out</a>
        {{else}}
          <a class="nav-link" href="/users/login">Log in<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/users/register">Register</a>
        {{/if}}
      </div>
    </nav>
  </header>
        {{{body}}}       
        
  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer mt-3np" id="sec-a2a9">
    <div class="u-clearfix u-sheet">
     <p class="u-small-text u-text u-text-variant u-text-1">This page uses MangoDB to store restaurant data.<br>
      <span>Page create by Chia-An Yang, with reference from <a class="an_footer-link" href="https://nicepage.com/website-builder" target="_blank">Nicepage.</a></span>
     </p>  
    </div>
  </footer>
</body>
</html>