/*this is css personally added by Chia-An Yang */

 .u-repeater-item{
   flex: 1 ;
   padding: 1em;
 }
 .img-container{
   height: 220px;
   width: 100%;
   overflow: hidden;
 }
 input.u-search{
   display: block;
   width: 500px;
   max-width: 90vw;
   line-height: 2em;   
   padding-left: 1em;
   appearance:none;
   -webkit-appearance: none;
   outline: none;
   border: 1px solid gray;
   border-radius: 1em 0 0 1em;
   margin:0;
}
 button.u-search{
   display: block;
   font-family: 'News Cycle','sans-serif';
   flex: 50px;
   flex-shrink: 0;
   flex-grow: 0;
   outline: none;
   appearance: none;
   -webkit-appearance: none;
   outline: none;
   border: 1px solid gray;
   border-left: none;
   border-radius: 0 1em 1em 0;
   margin: 0;
 }
 .search-container{
  height: 2em;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  
 }
 .badge{
   display: inline-block;
   padding: 0.2em 0.8em;
   background-color:#d9280d;
   border-radius: 1em;
   color: #FFF;
   font-size: 16px;
   font-weight: normal;
 }
 .badge .fas{
   margin: 3px
 }