/*this is css personally added by Chia-An Yang */

/* Search with "$" for keywords: Global / Form / Index / RWD / Index - Header */

/* $Global */
/* $Form */
textarea {
  resize: none;
}
.btn-form{
  background-color: #ff843d;
  color: #FFF;
  transition: all 0.5s;
}
.btn-form:hover{
  background-color: #e06f2d;
  color: #EEE;
}
.form__card{
width: 40vw;
height: 1000px;
margin: 0 auto;
padding: 2rem;
font-size: 1em;
text-align: left;
}
.btn-form{
  background-color: #ff843d
}
.c-f{
  clear: both;
}
/* $Index */
.u-logo{
  padding-bottom: 1em;
}
section.u-align-center{
  padding-bottom: 100px;
}
.u-repeater-item{
  flex: 1 ;
  padding: 1em;
}
.img-container{
  height: 220px;
  width: 100%;
  overflow: hidden;
}
input.u-search{
  display: block;
  width: 500px;
  max-width: 90vw;
  line-height: 2em;   
  padding-left: 1em;
  appearance:none;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid gray;
  border-radius: 1em 0 0 1em;
  margin:0;
}
 button.u-search{
   display: block;
   font-family: 'News Cycle','sans-serif';
   flex: 50px;
   flex-shrink: 0;
   flex-grow: 0;
   outline: none;
   appearance: none;
   -webkit-appearance: none;
   outline: none;
   border: 1px solid gray;
   border-left: none;
   border-radius: 0 1em 1em 0;
   margin: 0;
 }
 .search-container{
  height: 2em;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  
 }
 .row--badge{
   position: relative;
   margin: 0;
   display: flex;
   align-items: center;
   font-size: 1rem;
   color: #000;
 }
 .row--badge>*{
  margin-right: 0.5rem;
 }
 .badge{
   background-color:#d9280d;
   border-radius: 1rem;
   color: #FFF;
   font-size: inherit;
   height: 1.7rem;
   font-weight: normal;
 }
 .badge>span{
   display: inline-block;
   padding: 0 5px;
 }
  /* $Index - $Header */
 .nav-item {
    margin-left: auto;
  }
 .container--add-shop{
  position: relative;
  margin: 0 auto 5px;
  background-color: #ff843d;
  cursor: pointer;
  transition: all 0.5s;
 }
 .container--add-shop>a{
   float: left;
 }
 .btn--add-shop,.btn--categorize{
   width: 32px;
   height: 32px;
   float: left;
   background-color: inherit;
   color: #FFF;
   border-right: 2px solid #FFF;
   margin: 0;
   padding-top: 2px;
}
.btn--categorize{
  width: 34px;
  background-color: #fff;
  color: #ff843d;
  border-right: 2px solid #ff843d;
}
.text--add-shop{
   display: block;
   float: left;
   height: 32px;
   width: 220px;
   color: #FFF;
   background-color: inherit;
   font-size: 16px;
   line-height: 32px;
   font-weight: 700;
   margin: 0;
}
.searchbar--categorize,.searchbar--categorize ul{
  display: block;
  width: 220px;
  line-height: 32px;
  height: 32px;
  font-size: 16px;
  border: none;
  border-right: 2px solid #FFF;
  margin:0;
  padding: 0;
}
.searchbar--categorize{
  position: relative;
  float:left;
}
.searchbar--categorize ul{
  list-style-type: none;
  height: 32px;
  font-weight: 700;
  position: absolute;
  top:0;
  left: 0;
  background-color: #fff;
  height: 32px;
  width: 220px;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
}
.searchbar--categorize ul:hover{
  height: auto;
}
.searchbar--categorize ul>li{
  position: relative;
  background-color: #fff;
  height: 32px;
  padding-left: 8px;
  opacity: 0.8;
  transition:inherit;
}
.searchbar--categorize ul>li:hover{
  background-color: #ff843d;
  color: #fff;
}
.searchbar--categorize ul a{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 220px;
  text-decoration: none;
  color: inherit;
}
.link--add-shop{
  background-color: #ff843d;
}
.link--add-shop:hover{
  background-color: #d9280d;
}
button.text--router,a>.text--router{
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  appearance: none;
  appearance:none;
  outline: none;
  border: none;
  color: #000;
  display: inline-block;
  background-color: transparent;
  background: transparent;
}

 /* $index - $Footer */
footer.u-footer .u-small-text{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family:'News Cycle','sans-serif';
  color: #E7e7e7;
}
section.u-backlink{
  padding-top: 0;
  font-family:'News Cycle','sans-serif';
  color: #e7e7e7;
}
 /* $index - $RWD */
 .u-repeater {
  margin-bottom: 2em;
}
@media (max-width: 576px) {
  /* main RWD */
  .u-repeater {
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 1em;
  }
  .u-btn{
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 10px 20px;
  }
  p{ font-size: 14px; }
  .img-container{
    height: 200px;
  }
  /* header RWD */
  .container--add-shop{
    width: 254px;
  }
  .btn--categorize{
    width: 32px;
  }
  .searchbar--categorize{
    width: 222px;
    border-right: 0;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
    /* main RWD */ 
  .u-repeater {
    grid-template-columns: repeat(2, 49%);
    grid-row-gap: 2%;
  }
  .img-container { height: 180px; }
  .row--badge{
    font-size: 14px;
  }
  .badge{
    height: 1.4rem;
  }
  .u-btn {
    margin-top: 8px;
    margin-bottom: 0px;
    padding: 5px 10px;
  }
  h3 { 
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
 }
  p{ font-size: 14px; }
 }
@media (min-width: 768px) and (max-width: 992px) {
  /* main RWD */
  .u-repeater {
    grid-template-columns: repeat(3, 32%);
    grid-row-gap: 2%;
    margin: 0 auto;
  }
  .u-repeater-item{
    padding: 0.5em;
  }
  .img-container { 
    height: 150px; 
  }
  .row--badge{ 
    font-size: 1em; 
    justify-content: space-between; 
  }
  .badge{ 
    height: 1.5em; 
    margin-right: 0; 
  }
  h3 { 
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
 }
  .u-btn{
    margin-top: 10px;
    margin-bottom: 8px;
    padding: 10px 20px;
  }
}